<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CopyAndMutableCopy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66E2B8481D34CD8E0014C3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E2B8611D34CD8F0014C3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E2B86C1D34CD8F0014C3F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
